<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='recipe.css') }}">
    <title>Recipe Share</title>
</head>
<body>
    <div class="main">
        <div class="top">
            <div class="header">
                <h1>Add a New Recipe!</h1>
            </div>
            <div class="second">
                <div class="top_links">
                    <a id="recipes" href="/recipes">back to recipes</a>
                    <a href="/logout">logout</a>
                </div>
            </div>
        </div>
        <div class="bottom">
            <form action="/add_recipe" method="POST">
                {% with messages = get_flashed_messages(category_filter=['add_recipe']) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div class="lcolumn">
                    <div class="input">
                        <div>
                            <label for="name">Name:</label>
                        </div>
                        <input type="text" name="name" id="name"></input>
                    </div>
                    <div class="input">
                        <div>
                            <label for="description">Description:</label>
                        </div>
                        <textarea name="description" id="description" cols="50" rows="6"></textarea>
                    </div>
                    <div class="input">
                        <div>
                            <label for="instructions">Instructions</label>
                        </div>
                        <textarea name="instructions" id="instructions" cols="50" rows="6"></textarea>
                    </div>
                </div>
                <div class="rcolumn">
                    <div class="input">
                        <div>
                            <label for="date_created">Date Cooked/Made:</label>
                        </div>
                        <input type="date" name="date_created" id="date"></input>
                    </div>
                    <div class="input">
                        <div>
                            <label for="under">Under 30 minutes?</label>
                        </div>
                        <input type="radio" name="under" value="yes" id="yes" checked></input>
                        <label for="yes">Yes</label>
                        <input type="radio" name="under" value="no" id="no"></input>
                        <label for="no">No</label>
                    </div>
                    <div class="bottom_button">
                        <input type="submit" value="Submit" id="add_recipe">
                    </div>
                </div>
            </form>
        </div>
    </div>
    
</body>
</html>