<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='login.css') }}">
    <title>Recipe Share</title>
</head>
<body>
    <div>
        <h1>Recipe Share</h1>
    </div>
    <div class="main">
        <div class="left">
            <form action="/register/user" method="POST">
                <h2>Register</h2>
                {% with messages = get_flashed_messages(category_filter=['register']) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div>
                    <label for="first_name">First Name:</label>
                    <input type="text" name="first_name">
                </div>
                <div>
                    <label for="last_name">Last Name:</label>
                    <input type="text" name="last_name">
                </div>
                <div>
                    <label for="email" >Email:</label>
                    <input type="text" name="email">
                </div>
                <div>
                    <label for="password" >Password:</label>
                    <input type="password" name="password">
                </div>
                <div>
                    <label for="cpassword" >Confirm Password:</label>
                    <input type="password" name="cpassword">
                </div>
                <div>
                    <input class="button" type="submit" value="Register">
                </div>
            </form>
        </div>
        <div class="right">
            <form action="/login/user" method="POST">
                <h2>Login</h2>
                {% with messages = get_flashed_messages(category_filter=['login']) %}
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                {% endwith %}
                <div>
                    <label for="email" >Email:</label>
                    <input type="text" name="email">
                </div>
                <div>
                    <label for="password" >Password:</label>
                    <input type="password" name="password">
                </div>
                <div>
                    <input class="button" type="submit" value="Login">
                </div>
            </form>
        </div>
    </div>
</body>
</html>