* {
    margin: 0;
    padding: 0;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
}

body {
    background-color: rgba(245, 222, 179, 0.438);
    padding: 30px;
}

h1 {
    color: saddlebrown;
}

h3 {
    margin-bottom: 10px;
    color: saddlebrown;
}

#create {
    margin-right: 20px;
}

.second {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 15px;
}

a {
    color: blue;
}

.table {
    width: 100%;
    border: 2px solid black;
    border-radius: 5px;
    margin-top: 10px;
}

td {
    text-align: center;
}

.button {
    margin-top: 20px;
    height: 45px;
    width: fit-content;
    color: saddlebrown;
    background-color: rgba(224, 255, 201, 0.337);
    box-shadow: 2px 2px 5px black;
}